*-blx.bib
*.aux
*.bbl
*.blg
*.log
*.run.xml
*.synctex.gz
ancienne_version/
biblio/Nouveau dossier/
data/Nouveau dossier/
dev/edfreader.py
pygazeanalyser/
Diapo/
Pylink api userguide.pdf

PyGazeAnalyser
*.pyc
.ipynb_checkpoints
lastFrameIntervals.log
.DS_Store
