2017-10-13_Poster_GDR2017/Pasturel_etal2017gdr-blx.bib
2017-10-13_Poster_GDR2017/Pasturel_etal2017gdr.aux
2017-10-13_Poster_GDR2017/Pasturel_etal2017gdr.bbl
2017-10-13_Poster_GDR2017/Pasturel_etal2017gdr.blg
2017-10-13_Poster_GDR2017/Pasturel_etal2017gdr.log
2017-10-13_Poster_GDR2017/Pasturel_etal2017gdr.run.xml
2017-10-13_Poster_GDR2017/Pasturel_etal2017gdr.synctex.gz
ancienne_version/
biblio/Nouveau dossier/
data/Nouveau dossier/
dev/edfreader.py
pygazeanalyser/
Diapo/
Pylink api userguide.pdf

PyGazeAnalyser
*.pyc
.ipynb_checkpoints
lastFrameIntervals.log
.DS_Store
