dev/parametre/fct_velocity_sigmo/
.latex.json
overleaf/Pasturel_etal2018.pdf
*-blx.bib
*.aux
*.bbl
*.blg
*.log
*.run.xml
*.synctex.gz
ancienne_version/
biblio/Nouveau dossier/
data/Nouveau dossier/
dev/edfreader.py
Diapo/
Pylink api userguide.pdf

*.pyc
.ipynb_checkpoints
lastFrameIntervals.log
.DS_Store
*.synctex(busy)
ms/Pasturel_etal2018.bcf
2020-03_video-abstract/BBCP/results_enregistrement/
